PUID=                   # id $user
PGID=                   # id $user
APP_KEY=                # echo -n 'base64:'; openssl rand -base64 32;
APP_URL=                # https://speedtest.example.com
ASSET_URL=              # https://speedtest.example.com
APP_TIMEZONE=           # Europe/Vienna
DB_CONNECTION=sqlite
DISPLAY_TIMEZONE=       # Europe/Vienna
SPEEDTEST_SCHEDULE=     # 0 4 * * 0
